@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cairo: 'Cairo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-cairo);
  background: #0F172A;
  color: #F1F5F9;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
