# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio related
/android/app/debug
/android/app/profile
/android/app/release
*.jks
*.keystore

# Windows build
/windows/flutter/ephemeral/

# macOS build
/macos/Flutter/ephemeral/

# Web build
/web/

# iOS/macOS
**/Pods/
*.xcuserstate

# Test
coverage/

# Sensitive files
*.env
firebase_options_dev.dart





